# DAY - 2 ( Variables & Operators )

# Variables

#### Python Variable is containers that store values. Python is not "statically typed". We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

# Variable Names

#### • A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
#### • A variable name cannot start with a number
#### • A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#### • Variable names are case-sensitive (age, Age and AGE are three different variables)
#### • A variable name cannot be any of the Python keywords.

In [2]:
a = 1
print(a)

1

In [3]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [5]:
x = "apple"
print(x)

apple

In [6]:
student = 23
print(student)

23

In [8]:
student123 = 25
print(student123)

25

In [9]:
_a= 5
print(_a)

5

# Many values to multiple variables

In [11]:
x,y,z = "orange" , "banana" , "cherry"
print(x,y,z)

orange banana cherry

In [12]:
x,y,z = "orange" , "orange" , "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# Python Output Variables

In [14]:
x= "Python"
y= "is"
z= "amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

Python is amazing

Python
is
amazing

# Data Types

 Variables can store data of different types, and different types can do different
 Python has the following data types built-in by default, in these categories :

 • Text Type      : str
 • Numeric Types  : int , float , complex
 • Sequence Types : list, tuple , range
 • Mapping Type   : dict
 • Set Types      : set, frozenset
 • Boolean Type   : bool
 • Binary Types   : bytes, bytearray , memoryview

In [15]:
x = 2
print (x)
print(type(x))

2
<class 'int'>

In [16]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [17]:
z= 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [18]:
a = "This is the day 2 of python class "
print(a)
print(type(a))

This is the day 2 of python class
<class 'str'>

In [19]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [20]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

#### %whos = It will show all the variables that we have created in jupyter notebook.

In [26]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        12
b            list       n=10
c            tuple      n=10
student      int        23
student123   int        25
x            int        2
y            float      4.5
z            complex    (2+5j)

# Operators in Python

#### In Python programming, Operators in general are used to perform operations on values and variables. These are standard symbols used for the purpose of logical and arithmetic operations. In this article, we will look into different types of Python operators.
#### OPERATORS: These are the special symbols. Eg-+,*,/,etc.
#### OPERAND: It is the value on which the operator is applied.

# Types of Operator in Python

#### 1. Arithmetic Operators
#### 2. Comparison Operators
#### 3. Logical Operators
#### 4. Bitwise Operators
#### 5. Assignment Operators
#### 6. Identity Operators 
#### 7. Membership Operators

# 1. Arithmetic Operators

# Addition

In [29]:
a = 5
b = 3
print(a+b)

8

In [30]:
a = 5
b = 2.3
print(a+b)

7.3

In [31]:
a = 5 + 2j
b = 4
print(a+b)

(9+2j)

In [34]:
a = "Hello"
b = " Students"
print(a+b)

Hello Students

# Subtraction

In [35]:
a = 15 
b = 6
print(a - b)

9

In [36]:
a = 5.8965
b = 7.2585963

print(a - b )

-1.3620963000000001

In [37]:
a = 5+6j
b = 3
print(a-b)

(2+6j)

# Multiplication

In [38]:
a = 15
b = 56
print(a*b)

840

In [39]:
a = 5.689
b = 82.55632
print(a*b)

469.66290448

# Division

In [41]:
a = 10
b = 5
print(a/b)

2.0

# Modulous

In [42]:
a = 19
b = 3
print(a%b)

1

In [43]:
a = 12
b = 4
print(a%b)

0

# Exponent

In [45]:
a = 41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [48]:
a = ((859*78)+(78.256/89)+(856**67)+(145698-7526))
print(a)

2.990489165920469e+196

# 2. Logical Operators

# AND

In [50]:
a = True
b = False
print(a and b)

False

In [51]:
a = True
b = True
print(a and b)

True

In [54]:
a = False
b = False
print(a and b)

False

# OR

In [52]:
a = True
b = False
print(a or b)

True

In [53]:
a = True
b = True
print(a or b)

True

In [55]:
a = False
b = False
print(a or b)

False

# NOT

In [57]:
a = True
b = False
print(not(a))
print(not(b))

False
True

# 3. Bitwise Operators

#### AND Operator (&): Performs a bitwise AND operation, where the bits of the result are set to 1 only if the corresponding bits of both operands are 1.

In [61]:
a = 5 # binary 101
b = 3 # binary 011
print(a & b) #5 & 3 (binary 101 & 011 gives 001, which is 1 in decimal)

1

#### OR Operator (|): Performs a bitwise OR operation, where the bits of the result are set to 1 if either of the corresponding bits of the operands is 1.

In [62]:
print(a | b ) #5 | 3 (binary 101 | 011 gives 111, which is 7 in decimal)

7

#### XOR Operator (^): Performs a bitwise XOR operation, where the bits of the result are set to 1 only if the corresponding bits of the operands are different.

In [63]:
print(a ^ b) #Example: 5 ^ 3 (binary 101 ^ 011 gives 110, which is 6 in decimal)

6

#### NOT Operator (~): Performs a bitwise NOT operation, where it inverts all the bits of the operand. Note that Python uses a signed binary representation, so the result may appear different due to the way negative numbers are represented.

In [70]:
print(~a) #Example: ~5 (binary ~101 gives ...11111010, which is -6 in decimal in a 32-bit representation)

-6

#### Left Shift Operator (<<): Shifts the bits of the first operand to the left by the number of positions specified by the second operand. New bits on the right are filled with zeros.

In [67]:
print( 5 << 1  ) #Example: 5 << 1 (binary 101 << 1 gives 1010, which is 10 in decimal)

10

#### Right Shift Operator (>>): Shifts the bits of the first operand to the right by the number of positions specified by the second operand. For positive numbers, new bits on the left are filled with zeros.

In [68]:
print( 5 >> 1 ) #Example: 5 >> 1 (binary 101 >> 1 gives 010, which is 2 in decimal)

2

# 4. Comparison Operators

#### Equal to (==): Evaluates if the values on both sides of the operator are equal.

In [69]:
print(5==5)

True

#### Not equal to (!=): Evaluates if the values on both sides of the operator are not equal.

In [71]:
print(5!=3)

True

#### Greater than (>): Evaluates if the value on the left side of the operator is greater than the value on the right side.

In [73]:
print(10 > 7)

True

#### Less than (<): Evaluates if the value on the left side of the operator is less than the value on the right side.

In [74]:
print( 3 < 6 )

True

#### Greater than or equal to (>=): Evaluates if the value on the left side is greater than or equal to the value on the right side.

In [75]:
print( 5 >= 5 )

True

#### Less than or equal to (<=): Evaluates if the value on the left side is less than or equal to the value on the right side.

In [76]:
print(4 <= 10 )

True

# 5. Assignment Operators

#### Simple Assignment (=): Assigns the value on the right to the variable on the left.

In [77]:
a=10
print(a)

10

#### Add and Assign (+=): Adds the right operand to the left operand and assigns the result to the left operand.

In [79]:
b=5
b+=5
print(b)

10

#### Similary we can do Multiply and Assign (*=) , Divide and Assign (/=) , Modulus and Assign (%=) , Exponent and Assign (**=) and etc.

# 6. Identity Operators

Identity operators compare the memory locations of two objects. There are two identity operators:
• 
is: Returns True if both variables point to the same object      

Example: x is y will return True if x and y refer to the same obj
      e• ct.
is not: Returns True if both variables do not point to the same obj          ct.

Example: x is not y will return True if x and y do not refer to the same 
          object.
These operators are particularly useful when you need to check if two variables refer to the same object in memory, not just have equalalues.

In [80]:
# Identity Operators Example
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)    # True, a and b point to the same object
print(a is c)    # False, a and c do not point to the same object, despite having the same contents

True
False

# 7. Membership Operators

In [ ]:
Membership operators are used to test whether a value or variable is found in a sequence (string, list, tuple, set, and dictionary).

• in: Returns True if the specified value is present in the sequence.
    Example: 5 in [1, 2, 3, 4, 5] will return True because 5 is in the list.
    
• not in: Returns True if the specified value is not present in the sequence.
        Example: 5 not in [1, 2, 3, 4] will return True because 5 is not in the list.
    
These operators are commonly used to check for the presence of an element in a data structure.

In [81]:
# Membership Operators Example
x = 2
y = [1, 2, 3]

print(x in y)    # True, x is a member of y
print(4 not in y) # True, 4 is not a member of y

True
True